@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

*{
  padding: 0;
  margin: 0;
}

body{
  background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  height: 100vh;
  
  font-family: 'Montserrat Alternates', sans-serif;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator{
  overflow: hidden;
  
  width: 280px;
  height: 430px;
  
  padding: 10px;
  
  border-radius: 10px;
  
  background-image: linear-gradient(to right top, #111112, #11101a, #111021, #100f27, #0f0e2e);
}

.calculator .display{
  
  height: 22%;
  
  padding: 5% 0;
  
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: space-between;
  
}

.calculator .display .data-time{
  color: #F8F8FF;
  
  width: 95%;
  
  display: flex;
  justify-content: space-between;
}

.calculator .display .value{
  width: 100%;
  height: 50%;
  
  font-size: 3rem;
  
  outline-style: none;
  
  border: none;
  
  color: #F8F8FF;
  
  text-align: right;
  
  background-color: transparent;
}

.calculator .buttons{
  height: 70%;
  
  padding: 5px;
  
  border-top: 2px solid #808080;
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 3px;
  
  align-items: center;
  justify-items: center;
  
  
}

.calculator .buttons .buttom{
  width: 60px;
  height: 47px;
  
  border-radius: 35%;
  border: 2px solid #808080;
  
  background-color: #02020f;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 2rem;
  
  cursor: pointer;
}

.calculator .buttons .buttom:active{
  font-size: 1.5rem;
}

.calculator .buttons .buttom-number{
  color: #F8F8FF;
}

.calculator .buttons .buttom-operation{
  color: #00FF00;
}

#igual{
  color: #f8f8ff;
  background-color: #008000;
  border-color: #008000;
}

#clear{
  color: tomato;
  grid-column: span 2;
  
  width: 120px;
  
  border-radius: 20%;
}

#sum{
  grid-row: span 2;
  
  height: 94px;
  
  border-radius: 20%;
}